#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

#weather {
  font-family: 'Righteous', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#weather h4 {
  float: right;
}

.todo-text {
  text-shadow: 1px 1px black;
  color: white;
}

#txt {
  height: 70vh;
  font-family: 'Righteous', cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#txt {
  display: flex;
  justify-content: center;
  align-items: center
}

#quote {
  font-family: 'Righteous', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
}
